<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect		<!-- 数据库方言 -->
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/db_hr		<!-- 数据库连接URL -->
		</property>
		<property name="connection.username">root</property>
		<!-- 数据库用户名 -->
		<property name="connection.password"></property>
		<!-- 数据库用户密码 -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver<!-- 数据库驱动类 -->
		</property>
		<property name="show_sql">true</property><!--显示SQL语句-->
		 <mapping resource="com/sanqing/po/Users.hbm.xml"/>
		 <mapping resource="com/sanqing/po/Repair.hbm.xml"/>
		 <mapping resource="com/sanqing/po/Service.hbm.xml"/>
		 <mapping resource="com/sanqing/po/Clue.hbm.xml"/>
		 <mapping resource="com/sanqing/po/CarOwners.hbm.xml"/>
     </session-factory>
</hibernate-configuration>